/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e8e7e7; 
    box-shadow: inset 0 0 5px rgb(210, 210, 210);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    box-shadow: inset 0 0 5px rgb(210, 210, 210);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .navbar-logo {
    background-color: rgba(0, 0, 0, .25);
    width: 250px;
  }

  .logo-cpn {
    padding: 10px 101px 10px 101px;
  }

  .backgr-dark {
    background-color: #343a40;
  }

  .navbar-signout {
    background-color: #212529;
  }

/* end scroll bar */